@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../fonts/AvenirNextLTPro-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/AvenirNextLTPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype"),
    /* Open Type Font */ url("../fonts/AvenirNextLTPro-Regular.svg")
      format("svg"),
    /* Legacy iOS */ url("../fonts/AvenirNextLTPro-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/AvenirNextLTPro-Regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/AvenirNextLTPro-Regular.woff2")
      format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../fonts/AvenirNextLTPro-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/AvenirNextLTPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/AvenirNextLTPro-Bold.otf") format("opentype"),
    /* Open Type Font */ url("../fonts/AvenirNextLTPro-Bold.svg") format("svg"),
    /* Legacy iOS */ url("../fonts/AvenirNextLTPro-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/AvenirNextLTPro-Bold.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/AvenirNextLTPro-Bold.woff2")
      format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

html{
    font-size: 10px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    color: #0E7886;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #FF757C;
}

button{
    font-family: "Avenir Next Regular";
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 700;
}

p{
    font-family: "Avenir Next Regular";
    font-size: 1.6rem;
    color: #0E7886;
}

a{
    text-decoration: none;
}

select{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}